@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* ! ----- All components ------ */

@media screen and (min-width: 500px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0.4em auto;
  }

  /* .FooterMainPageData {
    padding: 25px;
  } */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 600px;
  background-color: #edc7b7;
  flex: 2;
}

.FooterMainPageData {
  text-align: center;
  padding: 10px 5px 5px 5px;
  color: #78244c;
  text-decoration: none;
}

a {
  color: #00cc99;
}

.App {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1 {
  display: flex;
  text-align: center;
  color: #00cc99;
  padding-bottom: 150px;
  font-family: "Sacramento", cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

/* ! ----- UserView Only ----- */

.headerUserView {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: url("./assets/headers/sunrise-header.jpg");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

.MoodQuestion {
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 2rem;
  color: #78244c;
  padding: 100px 0 0 0;
  letter-spacing: 3px;
}

ul {
  width: 100%;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-evenly;
}

li {
  text-align: center;
  padding: 20px;
  margin: 50px;
}

.MainButtons {
  padding: 0.5em 2em;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  font-weight: bold;
  color: #78244c;
  text-shadow: 0.5px 0.5px rgb(179, 174, 174);
  text-align: center;
  transition: all 0.15s;
  letter-spacing: 1px;
  background-color: #edc7b7;
}

.MainButtons:active,
.MainButtons:hover {
  background-color: #924f6b;
  color: #fff;
  border-color: #bbbbbb;
}

.PickUrl {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 25px 0 0 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
  overflow: hidden;
  background-color: #edc7b7;
  background-image: linear-gradient(
    43deg,
    #edc7b7 0%,
    #924f6b 22%,
    #3d1328 49%,
    #9a7837 75%,
    #edc7b7 100%
  );

  border-radius: 0 0 0 0 / 30%;
  font-size: 1.5em;
}

.PickIntroText {
  padding: 10px;
  color: #edc7b7;
  text-shadow: 0.5px 0.5px rgb(179, 174, 174);
  letter-spacing: 1px;
  text-emphasis: bold;
}

/* .PickUrl {
  color: #00cc99;
  text-decoration: none;
} */

/* ! ------ AdminView only ------ */

.headerAdminView {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: url("./assets/headers/streetballet2.jpg");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

#hTwoAdmin {
  font-family: "Comfortaa", cursive;
  font-size: 0.5em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  color: #78244c;
  text-shadow: 0.5px 0.5px rgb(179, 174, 174);
  padding-left: 10px;
  /* padding-top: 5px; */
}

.formAdminView {
  /* width: 200px; */
  padding: 20px;
  width: 100%;
  align-items: center;
}

.FormIntroText {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
}

.EnteredValues {
  border: 2px solid #eee;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  width: 100%;
}

.EnteredValues:hover {
  background-color: #f1ae91;
}

#formats,
#moods {
  font-size: 1em;
}

input {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(56, 56, 56, 0.06);
}

#SubmitButton {
  appearance: none;
  -webkit-appearance: none;
  margin: 40px 0 20px 0;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #78244c;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
}

.NewEntryDisplay {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

#EntryAdded {
  margin: 0 0 20px 0;
}

#UrlAdmin {
  color: #78244c;
  letter-spacing: 0.5px;
}
