@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "left core core core right"
    "footer footer footer footer footer";
  grid-gap: 5px;
  background-color: #edc7b7;
  padding: 10px;
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
}

.core {
  grid-area: core;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
}

.footerApp {
  font-size: 1em;
}

@media screen and (max-width: 550px) {
  .footerApp {
    font-size: 0.5em;
  }

  /* ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0.4em auto;
  } */
}
