@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
}

body {
  /* height: 600px; */

  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  width: 100%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-areas:
    "header header header header header"
    "left core core core right"
    "display display display display display"
    "footerApp footerApp footerApp footerApp footerApp";
  grid-gap: 5px;
  padding: 10px;
}

h1 {
  font-family: "Sacramento";
  font-size: 3em;
  color: #00cc99;
  align-self: center;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.no-bullet {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #78244c;
}

a:hover {
  color: #00cc99;
}

.header {
  grid-area: header;
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  padding: 40px;
  margin: 15px 5px;
  justify-content: center;
  align-items: center;
}

.left {
  grid-area: left;
  margin: 2px;
}

.core {
  grid-area: core;
  /* background-color: #edc7b7; */
  width: 100%;
  margin: 25px;
  grid-template-areas: "userxCore";
}

.right {
  grid-area: right;
  margin: 2px;
}

.display {
  grid-area: display;
}

.footerApp {
  grid-area: footerApp;
  font-size: 1em;
  padding: 70px;
  margin: 25px;
}

/* ! --- UserView Only --- */

.userxCore {
  display: flex;
  flex-wrap: wrap;
}

.userxCore > ul {
  width: 100%;
}

.userxCore > ul > li {
  width: 50%;
  margin: 25px 0 25px 0;
}

.no-bullet {
  display: flex;
  flex-wrap: wrap;
}

#userQuestion {
  font-family: "Comfortaa", cursive;
  font-size: 1.5em;
  color: white;
  padding: 30px 0 30px 0;
  letter-spacing: 1px;
}

#moodButton {
  flex: 50%;
  padding: 0.5em 2em;
  border: none;
  border-radius: 12px;
  font-family: "Quicksand", sans-serif;
  /* font-family: "Comfortaa", cursive; */
  font-weight: bold;
  color: #78244c;
  font-size: 1em;
  letter-spacing: 5px;
  /* letter-spacing: 2px; */
  text-shadow: 0.5px 0.5px rgb(179, 174, 174);
  transition: all 0.15s;
  /* background-color: #edc7b7; */
}

#moodButton:active {
  background-color: #924f6b;
  color: #fff;
  border-color: #bbbbbb;
}

.moodList {
  justify-content: space-evenly;
}

/* ! --- AdminView Only --- */

.adminCore {
  width: 100%;
  margin: 5% auto;
}

/* .formStyle {
  display: flexbox;
  width: 100%;
  height: 100%;
} */

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  /* height: 100%; */
}

/* .EnteredValues {
  border: 2px solid #eee;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  width: 100%;
} */

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #eee;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 4px rgba(56, 56, 56, 0.06);
}

#inputAsAText {
  margin-top: 20px;
}

#SubmitButton {
  appearance: none;
  margin: 40px 0 20px 0;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #00cc99;
  color: #fff;
  box-shadow: 0 0 15px 4px rgba(56, 56, 56, 0.06);
  font-weight: 600;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
}

@media only screen and (min-width: 551px) {
  .moodList {
    justify-content: space-evenly;
    padding: 40px 0 40px 0;
  }
}

@media only screen and (max-width: 550px) {
  .App {
    width: 100%;
  }

  .header {
    grid-area: header;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 15px 5px;
    justify-content: center;
    align-items: center;
  }

  .footerApp {
    font-size: 0.8em;
  }

  ul {
    list-style: none;
    padding-inline-start: 0px;
    display: grid;
  }

  #userQuestion {
    font-family: "Comfortaa", cursive;
    font-size: 1em;
    color: whitesmoke;
    font-weight: 400;
    padding: 20px 0 20px 0;
    letter-spacing: 1px;
  }

  #moodList {
    justify-content: space-evenly;
  }

  #moodButton {
    font-family: "Comfortaa", cursive;
    font-size: 0.8em;
    padding: 5px;
  }

  .formLabel {
    padding: 10px;
    margin: 5px 0;
    font-size: 0.5em;
  }

  #SubmitButton {
    appearance: none;
    margin: 40px 0 20px 0;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #00cc99;
    color: #78244c;
    font-weight: 600;
    font-size: 0.5em;
    border-radius: 5px;
    width: 100%;
  }
}
